/** The following styles must be imported in this specific order.
    To work around the https://github.com/vercel/next.js/issues/16630 issue,
    we use inlined imports via postcss and cascade layers to control ordering.
    1-  Reset the styles for browser consistency with the tailwind base
    2 - Add DSFR icon styles (it has to come before DSFR default styles)
    3 - Set default DSFR styles to html tags
    4 - Add Tailwind utilities and other classes that, coming last, can override DSFR styles
**/

@layer tw_theme, tw_base, dsfr_icons, dsfr, components, tw_utilities;

@import "@codegouvfr/react-dsfr/dsfr/utility/icons/icons.min.css" layer(dsfr_icons);
@import "@codegouvfr/react-dsfr/dsfr/dsfr.min.css" layer(dsfr);
@import "tailwindcss/theme.css" layer(tw_theme);
@import "tailwindcss/preflight.css" layer(tw_base);
@import "tailwindcss/utilities.css" layer(tw_utilities);

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-france-sun-113: #000091;

  --color-gray-100: #f6f6f6;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #dddddd;
  --color-gray-400: #929292;
  --color-gray-500: #666666;
  --color-gray-700: #3a3a3a;
  --color-gray-900: #161616;
}

@layer components {
    html {
        @apply text-gray-900;
    }

    body {
        background-color: #f8f4f0;
    }

    dl,
    dt,
    dd {
        --xl-block: 0;
        --ul-start: 0;
        --li-bottom: 0;
    }

    dt {
        @apply text-gray-600 text-sm;
    }

    dd {
        @apply font-medium text-gray-900 mb-5;
    }

    dd:last-child {
        @apply mb-0;
    }
}

